<div class="col-md-offset-4 col-md-4">
    <div *ngIf="!isRegistered">
        <label >Nombre</label>
        <input class="form-control" type="text" [(ngModel)]="formHelper.name" value="">
    </div>
    <div *ngIf="!isRegistered">
        <label >Escuela</label>
        <input class="form-control" type="text" [(ngModel)]="formHelper.school" value="">
    </div>
    <div>
        <label >Email</label>
        <input class="form-control" type="email" [(ngModel)]="formHelper.email" value="">
    </div>
    <div>
        <label >Contraseña</label>
        <input class="form-control" type="password" [(ngModel)]="formHelper.password">
    </div>
    <div>
        <div (click)="toggleRegistered()" class="center">
            <a *ngIf="!isRegistered">Ya tienes cuenta? Ingresa!</a>
            <a *ngIf="isRegistered">Aun no tienes cuenta? Regístrate!</a>
        </div>
        <br />
        <a class="btn btn-default btn-block" (click)="ok()">Ok</a>
        <hr />
        <br />
        <div class="center">
            <b>ó</b>
        </div>
        <a class="btn-primary btn btn-block" (click)="loginWithFacebook()">Ingresar con Facebook</a>
    </div>
</div>